<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="appId" value="c4131746" />
    <add key="appKey" value="37c68b143b0b1b45229e9fd2d4cc2667" />
    <add key="extendedOptions" value="" />



  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AirportsV1SoapServiceSoapBinding" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="AirportsV1SoapServiceSoapBinding1" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="AirlinesV1SoapServiceSoapBinding" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="AirlinesV1SoapServiceSoapBinding1" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="AirlinesV1SoapServiceSoapBinding2" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text">
          <security mode="Transport" />
        </binding>
        <binding name="AirlinesV1SoapServiceSoapBinding3" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="airportServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="airportServicePortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.flightstats.com/flex/airports/soap/v1/airportsService"
        binding="basicHttpBinding" bindingConfiguration="AirportsV1SoapServiceSoapBinding"
        contract="AirportsV1SoapService.airportsService" name="airportsServicePort" />
      <endpoint address="https://api.flightstats.com/flex/airlines/soap/v1/airlinesService"
        binding="basicHttpBinding" bindingConfiguration="AirlinesV1SoapServiceSoapBinding"
        contract="ArlinesV1SoapService.airlinesService" name="airlinesServicePort" />
      <endpoint address="https://api.flightstats.com:443/flex/flightstatus/soap/v2/airportService"
        binding="basicHttpBinding" bindingConfiguration="airportServicePortBinding"
        contract="AirportSoapApiService.airportService" name="airportServicePort" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorConf">
          
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
         
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="xmlBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="WcfServiceFlightstats.Service.ServiceArlines" behaviorConfiguration="behaviorConf" >
        
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="WcfServiceFlightstats.Service.Interface.IServiceArline"/>

        <endpoint address="localhost" binding="webHttpBinding" contract="WcfServiceFlightstats.Service.Interface.IServiceArline" behaviorConfiguration="xmlBehavior" />



        <endpoint address="mex"
             binding="mexHttpBinding"
             contract="IMetadataExchange" />  
      </service> 
    </services>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
